@charset "utf-8";

body {
    border: solid;
    border-width: 1px;
    padding: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.neg {
    font-weight: bold;
}
.negcur {
    font-weight: bold;
    font-style: italic;
}
h1 {
    text-align: center;
}

#autor {
    text-align: center;
    font-weight: bold;
}
.negmaj {
    font-weight: bold;
    font-size: 20px;
}
#android {
    float: left;
}
#paper{
    float: right;
}