@charset "utf-8";

body {
    border: solid;
    border-width: thin;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    font-size: 12px;
}

#header {
    padding-bottom: 10px;
}
img {
    float: left;
}
#empresa {
    text-align: center;
}
#tit {
    font-weight: bolder;
    font-size: 18px;
}
table, td, th {
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
}
table {
    padding: 10px;
    margin: 10px;
}
.dreta {
    text-align: right;
}
.c {
    padding: 10px;
    border: solid;
    border-width: 1px;
    margin: 20px;
}
.titulo {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.recuadro {
    padding: 0px;
    border: solid;
    border-width: 1px;
    margin: 5px;
}

